import(kinship2)
importFrom("digest", "digest")
importFrom("parallel", "makePSOCKcluster")
importFrom("parallel", "makeForkCluster")
importFrom("parallel", "clusterExport")
importFrom("parallel", "clusterApply")
importFrom("parallel", "stopCluster")
importFrom("methods", "hasArg")
importFrom("methods", "is")

export(es.pedigree, plot.es.pedigree,  print.es.pedigree)
export(modele.di)
export(Likelihood, Elston)
export(es.stopCluster)
S3method(plot, es.pedigree)
S3method(print, es.pedigree)
